.app-title {
    font-size: 2em;
    margin: 0;
    padding: 25px 0;
}

body:after {
    z-index: 0;
    border-radius: 99px;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: block;
    content: '';
    box-shadow: inset 0 0 120px #000;
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0.65) 75%,
        rgba(0, 0, 0, 0.65) 78%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0.65) 75%,
        rgba(0, 0, 0, 0.65) 78%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 57%,
        rgba(0, 0, 0, 0.65) 75%,
        rgba(0, 0, 0, 0.65) 78%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body:before {
    content: '';
    box-shadow: 0px 0px 120px #000;
    background-image: url('../src/img/scanlines.png');
    border-radius: 99px;
    position: absolute;
    display: block;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrapper {
    height: 100vh;
    padding: 0 80px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: auto;
}

html,
body {
    font-family: 'Share Tech Mono', monospace;
    height: 100vh;
    color: #fff;
    background: rgb(35, 35, 35);
}

.header {
    text-align: left;
    flex: 1;
}

.main-wrapper {
    flex: 2 1;
    padding-left: 20px;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0.83em;
}

.menu a:before {
    content: '>';
    padding-right: 10px;
}

.menu a:hover {
    background: rgba(55, 88, 59, 0.4);
    color: rgb(192, 192, 125);
}

/*  */

ul.search-results {
    width: 100%;
    display: block;
    height: 300px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

ul.search-results li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgba(21, 32, 22, 0.8);
    padding: 3px 12px;
    margin-bottom: 5px;
}

ul.search-results li p {
    font-size: 24px;
    font-weight: bold;
}
/*  */

label {
    display: block;
    padding-bottom: 4px;
}

input[type='text'],
input[type='number'],
select {
    font-family: 'Share Tech Mono', monospace;
    background: rgba(21, 32, 22, 0.8);
    border: 2px solid rgba(12, 163, 20, 0.6);
    padding: 8px;
    color: rgb(192, 192, 125);
    text-transform: uppercase;
    margin-bottom: 8px;
    width: 80%;
}

button {
    margin: 8px 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    background: rgba(12, 163, 20, 0.6);
    padding: 8px 16px;
    border: 0;
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(21, 32, 22, 0.8);
    cursor: pointer;
}

button:disabled {
    background: rgba(48, 65, 48, 0.6);
    color: rgba(67, 83, 67, 0.6);
    cursor: not-allowed;
}

fieldset {
    border: 2px solid rgba(12, 163, 20, 0.6);
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.56);
    color: rgba(12, 163, 20, 1);
}

fieldset label {
    color: #fff;
}

.form-group input {
    display: inline-block;
}

/*  */

.container {
    display: flex;
}

.half {
    width: 50%;
}

.two-column {
    display: flex;
}

.two-column .form-group {
    flex: 1;
}

/*  */

blockquote {
    font-size: 16px;
    padding: 4px 8px;
    display: block;
    flex: 1;
}

.statistic {
    margin: 0;
    color: yellowgreen;
    font-size: 48px;
}
